
{{#if isAdmin}}

  <form style="margin: 50px;" id="form">
    <label for="name">Nombre</label>
    <input type="text" name="title">
    <br/>

    <label for="desc">Descripcion</label>
    <input type="text" name="desc">
    <br/>

    <label for="price">precio</label>
    <input type="text" name="price">
    <br/>

    <label for="price">codigo</label>
    <input type="text" name="code">
    <br/>

    <button>Enviar</button>
  </form>


  <h3>Todos lo productos</h3>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody id="table-data">

      {{#each data}}
        <tr>
          <th scope="row">1</th>
          <td>{{this.code}}</td>
          <td>{{this.title}}</td>
          <td>{{this.desc}}</td>
          <td>$ {{this.price}}</td>
        </tr>

      {{/each}}

    </tbody>
  </table>


{{else}}
  <p>No tiene acceso de admin</p>
{{/if}}



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
